body,html{
    background-color: #286090;
    padding-bottom: 30px;
    padding-top: 40px;
}


@font-face {
    font-family: h1AdminFont;
    scr: url("../fonts/RobotoCondensed-Bold.ttf")
}




#admin_header{
   color: #286090;

}

.container{

    margin: 0 auto;
    padding: 0;
}

#adminNav{
    width: auto;
}
