.shadowStyle2
{
    position:relative;
    -webkit-box-shadow: 9px -1px 27px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 9px -1px 27px 0px rgba(0,0,0,0.24);
    box-shadow: 9px -1px 27px 0px rgba(0,0,0,0.24);
}
.shadowStyle2:before, .shadowStyle2:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow: 9px -1px 27px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 9px -1px 27px 0px rgba(0,0,0,0.24);
    box-shadow: 9px -1px 27px 0px rgba(0,0,0,0.24);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadowStyle2:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}